<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Formulario Login Animado</title>
  </head>
  <body>
    <div class="form-body">
      <img src="img/219983.png" alt="user-login" />
      <p class="text">Login Médico-Admin</p>
      <form class="login-form">
        <input type="text" placeholder="Nombre de usuario" />
        <input type="password" placeholder="Contraseña" />
        <button>Iniciar Sesión</button>
      </form>
    </div>
  </body>
</html>
